.article {
  background-color: white;
}

.content {
  padding: 5em;
}

.titlelayout {
  padding: 3em 3em 0;
}

.title {
  font-size: xx-large;
  font-weight: bolder;
  text-align: center;
  margin: 0.5em 0 1em;
}

.author {
  text-align: center;
  font-family: comic-sans-ms;
  margin: 1em 0;
}

.divider {
  height: 1px;
  border-top: 1px solid rgba(102, 102, 102, 0.295);
  text-align: center;
  position: relative;
  top: -8px;
  background: #fff;
  margin: 0 48px;
}

.comments {
  padding: 4em;
}

.spin {
  height: 100%;
  padding: 15% 50px;
  text-align: center;
  background: rgba(255, 255, 255, 0);
  border-radius: 4px;
}
