.title {
  font-size: 28px;
  font-weight: bold;
  font-family: comic-sans-ms;
}

.tags {
  font-size: 18px;
  float: left;
}

.time {
  font-size: 13px;
  font-weight: lighter;
  font-family: comic-sans-ms;
}

.clicktext {
  font-size: 13px;
  font-weight: lighter;
  font-family: comic-sans-ms;
  cursor: pointer;
}

.details {
  font-size: 18px;
  float: right;
}
