.contact {
  border-radius: 5px;
  text-align: center;
  transition: all 0.2s linear;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4)
}
.contact:hover {
  transform: translate(0, -1px);
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3)
}

.icon {
  color: rgb(85, 85, 85);
  font-size: xx-large;
  cursor: pointer;
  margin: 10px;
  transition: all 0.4s;
}
.icon:hover {
  transform: scale(1.2);
}