.contact {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  transition: all 0.2s linear;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
}
.contact:hover {
  transform: translate(0, -1px);
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
}

.icon {
  color: rgb(85, 85, 85);
  font-size: 42px;
  cursor: pointer;
  <<<<<<<HEAD
  margin: 18px 12px;
  =======margin: 16px 12px;
  >>>>>>>d3165fe22e25206d0e317eece54a9e659ca542c1
  transition: all 0.2s;
}
.icon:hover {
  transform: scale(1.1);
}
