@import '~antd/lib/style/themes/default.less';

@font-face {
  font-family: 'comic-sans-ms';
  src: url('./assets/fonts/comic\ sans\ ms.ttf');
}

@font-face {
  font-family: 'blackjar';
  src: url('./assets/fonts/blackjar.ttf');
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  // background-image: url('./assets/backgrounds/purple.jpg');
  background-attachment: fixed;
  background-size: 100% 105%;
  background-repeat: no-repeat;
}

.center {
  // display: block;
  margin: 5% auto;
  padding: 32px;
  width: fit-content;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  // transform: translate(-50%, -50%);
}

.heart {
  margin: -63px auto;
  height: 200px;
  width: 200px;
  cursor: pointer;
  background-image: url('./assets/imgs/heart02.png');
  background-position: left;
}
