@import '~antd/lib/style/themes/default.less';

// 网站logo
.logo {
  width: 148px;
  color: black;
  margin: 8px 24px 8px 50px;
  float: left;
  font-size: 20px;
  line-height: 30px;
}
// 用户区域
.user {
  float: right;
  color: black;
  margin: 5px 60px 5px 0;
  line-height: 38px;
}
// 布局
.header {
  box-shadow: 0px 5px 8px @purple-6;
  position: fixed;
  width: 100%;
  z-index: 100;
}
.content {
  background-image: url('../assets/backgrounds/purple.jpeg');
  background-attachment: fixed;
  background-size: 100%;
  padding-top: 64px;
  box-shadow: 0px 2px 4px @purple-3;
  z-index: 90;
}
.footer {
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: black;
}

// 左侧页面部分
.children {
  background-color: rgba(255, 255, 255, 0);
  min-height: 1000px;
  height: 100%;
  padding-bottom: 16px;
}
// 右侧工具
.sidetools {
  margin-bottom: 20px;
  width: 100%;
}
// github图标
.githubLink {
  display: inline-block;
  cursor: pointer;
  transition: all 0.6s;
}
.githubLink:hover {
  transform: scale(1.2);
}
// footer分割线
.divider {
  height: 1px;
  border-top: 1px solid rgb(102, 102, 102);
  text-align: center;
  position: relative;
  top: -8px;
  background: #fff;
  padding: 0 20px;
}
